<aside class="col-md-3">
	<%= render 'shared/menu_escala_vmer' %>
</aside>
<div class="col-md-9">
	<h1>Grupos profissionais</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Nome</th>
			</tr>
		</thead>
		<tbody>
			<% @groups.each do |g| %>
				<tr>
					<td><%= link_to g.nome_grupo, edit_vmer_escala_vmer_group_path(g) %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<div class="panel panel-default">
		<div class="panel-heading">Novo grupo profissional</div>
		<div class="panel-body">
			<%= render 'form' %>
		</div>
	</div>
</div>