<aside class="col-md-3">
	<%= render 'shared/menu_transp' %>
</aside>
<div class="col-md-9">
	<h1>Destinos</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Destino</th>
			</tr>
		</thead>
		<tbody>
			<% @destinations.each do |destination| %>
				<tr>
					<td><%= link_to destination.destino, edit_sagt_transp_destination_path(destination) %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<h2>Novo destino</h2>
	<%= render 'form' %>
</div>