<% provide(:title, "Acerca") %>

<div class="col-md-8 col-md-offset-2">
  <div class="well">
    <h1>Portal e-ULSNE</h1>

    <h2>Serviços disponíveis</h2>
    <ul>
      <li><h3>Lista de contactos telefónicos e extensões</h3></li>
      <li><h3>Requisições de Transporte</h3></li>
    </ul>
    <h2>Serviços offline</h2>
      <ul>
        <li><h3>Ajudas técnicas</h3></li>
        <li><h3>Auditorias de lavagem das mãos</h3></li>
        <li><h3>Escalas VMER</h3></li>
        <li><h3>Formulários dos doentes</h3></li>
        <li><h3>Inquéritos de satisfação</h3></li>
      </ul>
  </div>
</div>