<div class="col-md-12">

	<div class="col-md-6">
		<div class="jumbotron">
			<%= link_to contacts_users_path() do %>
				<h1 class="text-center"><i class="fa fa-address-book"></i></h1>
        <h2>Telefones e extensões</h2>
			<% end %>
		</div>
	</div>

	<div class="col-md-6">
		<div class="jumbotron">
			<%= link_to sagt_transp_user_trips_calendar_url() do %>
				<h1 class="text-center"><i class="fa fa-bus"></i></h1>
        <h2 class="text-center">Requisição de transporte</h2>
			<% end %>
		</div>
	</div>
  
</div>