<aside class="col-md-2">
	<%= render 'shared/admin_menu' %>
</aside>
<div class="col-md-9">
	<h1>Unidades</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Unidade</th>
				<th><%= link_to "Novo", new_ulsne_site_path(), class: 'btn btn-success btn-xs' %></th>
			</tr>
		</thead>
		<tbody>
			<% @ulsne_sites.each do |ulsne_site| %>
				<tr>
					<td><%= ulsne_site.nome_unidade %></td>
					<td>
						<a href="<%= edit_ulsne_site_path(ulsne_site) %>"><span class="glyphicon glyphicon-pencil"></span></a>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>