<div class="row">
	<div class="col-md-6">
		<h4>Indicaçoes</h4>
		<% if hig_maos_opportunity.antes_doente %>
			<span class="glyphicon glyphicon-check" aria-hidden="true"></span>
		<% else %>
			<span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
		<% end %>
		Antes doente<br />
		<% if hig_maos_opportunity.antes_assetico %>
			<span class="glyphicon glyphicon-check" aria-hidden="true"></span>
		<% else %>
			<span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
		<% end %>
		Antes assép.<br />
		<% if hig_maos_opportunity.apos_sangue_fluido %>
			<span class="glyphicon glyphicon-check" aria-hidden="true"></span>
		<% else %>
			<span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
		<% end %>
		Após Sg Fluid<br />
		<% if hig_maos_opportunity.apos_doente %>
			<span class="glyphicon glyphicon-check" aria-hidden="true"></span>
		<% else %>
			<span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
		<% end %>
		Após doente<br /> 
		<% if hig_maos_opportunity.apos_ambiente %>
			<span class="glyphicon glyphicon-check" aria-hidden="true"></span>
		<% else %>
			<span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
		<% end %>
		Após Ambte:<br />
	</div>
	<div class="col-md-6">
		<h4>Acções</h4>
		<% if hig_maos_opportunity.friccao_antisetica %>
			<span class="glyphicon glyphicon-check" aria-hidden="true"></span>
		<% else %>
			<span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
		<% end %>
		Fricção<br />
		<% if hig_maos_opportunity.lavagem %>
			<span class="glyphicon glyphicon-check" aria-hidden="true"></span>
		<% else %>
			<span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
		<% end %>
		Lavagem<br />
		<% if hig_maos_opportunity.nao_realizado %>
			<span class="glyphicon glyphicon-check" aria-hidden="true"></span>
		<% else %>
			<span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
		<% end %>
		Não realizado<br />
	</div>
</div>
<hr />