<% if (current_user.administrator || current_user.transp_user.present?) %>
	<li><%= link_to "Requisição de transporte", transp_user_trips_list_url() %></li>
<% else %>
	<li class="disabled"><a>Requisição de transporte</a></li>
<% end %>