<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>
			Bem-vindo ao Portal e-ULSNE
		</h1>
		<h2>
			<%= @user.titulo %> <%= @user.nome_utilizador %>,</h2>
		<p>
			O seu login de acesso é: <%= @user.numero_mecanografico %>
		</p>
		<p>
			O acesso aos módulos do Portal tem de ser solicitado aos supervisores dos módulos respectivos
		</p>
		<p>
			Para esclarecimento de dúvidas contacte o <a href="mailto:40234@ulsne.min-saude.pt">suporte</a>
		</p>
	</body>
</html>