<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1><%= @user.titulo %> <%= @user.nome_utilizador %>, bem-vindo ao Portal e-ULSNE</h1>
		<p>
			O seu login é: <%= @user.numero_mecanografico %>
		</p>
		<p>
			Miguel Sampaio da Veiga
		</p>
	</body>
</html>