<div class="nested-fields">
	<div class="field col-md-4">
		<%= f.text_field :nome_gabinete, placeholder: 'Gabinete', class: 'form-control' %>
	</div>
	<div class="field col-md-2"> 
		<%= f.number_field :numero_gabinete, placeholder: 'Número', class: 'form-control' %>
	</div>
	<div class="field col-md-4">
		<%= f.collection_select :ulsne_site_id, @ulsne_sites, :id, :nome_unidade, {}, class: 'form-control' %>
	</div>
	<%= link_to_remove_association "Remover", f, class: 'btn btn-danger' %>
</div>