<div class="col-md-12">
	<%= render 'shared/menu_contacts' %>
</div>

<div class="col-md-10 col-md-offset-1">

	<h1>Serviços</h1>
	
	<table class="table">
		<thead>
			<tr><th></th></tr>
		</thead>
		<tbody>
			<% @ulsne_departments.each do |ulsne_department| %>
				<tr>
					<td>
						<%= link_to ulsne_department.nome_servico, contacts_ulsne_department_path(ulsne_department), remote: true %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>

</div>
<%= render 'shared/modal' %>