$('#modalTitle').html("<%= @ulsne_department.nome_servico %>")
$('#modalBody').html('<%= j render "show" %>')
$('#modalFooter').html('<%= link_to 'Editar', edit_contacts_ulsne_department_path(@ulsne_department), class: "btn btn-success" %><button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>')
$('#modal').modal()