<%= form_for @catheter_type do |f| %>
	<%= render 'shared/error_messages', obj: @catheter_type %>

	<div class="col-md-9">
		<%= f.text_field :nome_cateter, class: 'form-control' %>
	</div>
	<div class="col-md-3">
		<%= f.submit 'Submeter', class: 'btn btn-primary' %>
	</div>
<% end %>