<div class="col-md-12">
	<div class="panel panel-primary">
		<div class="panel-body">
			<div class="col-md-4">
				<h4>Oportunidade</h4>
				<p>Categoria: <strong><%= hig_maos_opportunities_cluster.hig_maos_worker_category.categoria_profissional %></strong></p> 
				<p>N. profissionais: <strong><%= hig_maos_opportunities_cluster.numero_profissionais %></strong></p>
			</div>
			<div class="col-md-8">
				<%= render hig_maos_opportunities_cluster.hig_maos_opportunities %>
			</div>
		</div>
	</div>
</div>