<div class="col-md-12">
	<%= render 'shared/menu_hig_maos' %>
</div>
<div class="col-md-10 col-md-offset-1">

	<h1>Utilizadores autorizados</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Utilizador</th>
				<th>Acesso</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
				<tr>
					<td>
						<%= link_to user.nome_utilizador, edit_ppcira_hig_maos_user_path(user.hig_maos_user) %>
					</td>
					<td>
						<%= render 'shared/nivel_acesso', user: user.hig_maos_user %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<div class="panel panel-default">
		<div class="panel-heading">Adicionar utilizador</div>
		<div class="panel-body">
			<%= render 'new' %>
		</div>
	</div>
</div>