<div class="panel panel-default">
	<div class="panel-heading">Contactos</div>
	<div class="panel-body">
		<p><%= link_to "Pessoas", people_path() %></p>
		<% @units.each do |unit| %>
			<p><%= link_to unit.nome_unidade, unit_path(unit) %></p>
		<% end %>
	</div>
</div>