<div class="panel panel-primary">
	<div class="panel-heading">Contactos</div>
	<div class="panel-body">
		<span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> <%= link_to "Pessoas", people_path() %><br />
<!--
		<% @units.each do |unit| %>
			<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> <%= link_to unit.nome_unidade, unit_path(unit) %><br />
		<% end %>
-->
	</div>
</div>