<table class="table">
	<thead>
		<tr>
			<th>Gabinete</th>
			<th>Número</th>
			<th>Serviço</th>
			<th>Unidade</th>
		</tr>
	</thead>
	<tbody>
		<% offices.each do |office| %>
			<tr>
				<td>
					<%= office.nome_gabinete %>
				</td>
				<td>
					<%= office.numero_gabinete %>
				</td>
				<td>
					<%= office.ulsne_department.nome_servico %>
				</td>
				<td>
					<%= office.ulsne_site.nome_unidade %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>