<table class="table">
	<thead>
		<tr>
			<th>Unidade</th>
			<th>Nome</th>
			<th>Extensão</th>
		</tr>
	</thead>
	<tbody>
		<% @department.office_phone_numbers.order(:ulsne_site_id).each do |phone| %>
			<tr>
				<td><%= phone.ulsne_site_id %></td>
				<td><%= phone.nome_gabinete %></td>
				<td><%= phone.numero_gabinete %></td>
			</tr>
		<% end %>
	</tbody>
</table>