<table class="table">
	<thead>
		<tr>
			<th>Nome</th>
			<th>Telemóvel</th>
			<th>Unidade</th>
		</tr>
	</thead>
	<tbody>
		<% @department.users.order(:nome_utilizador).each do |user| %>
			<tr>
				<td><%= user.titulo %> <%= user.nome_utilizador %></td>
				<td>
					<% user.user_phone_numbers.each do |phone| %>
						<%= phone.numero_contacto %><br />
					<% end %>
				</td>
				<td><%= user.ulsne_site.nome_unidade %></td>
			</tr>
		<% end %>
	</tbody>
</table>