<div class="col-md-8 col-md-offset-2">
	<table class="table">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Serviço</th>
				<th>Unidade</th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
				<tr>
					<td><%= user.nome_utilizador %></td>
					<td>
						<% user.ulsne_departments.each do |ulsne_department| %>
							<%= ulsne_department.nome_servico %><br />
						<% end %>
					</td>
					<td><%= user.ulsne_site.nome_unidade %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>