<% if (current_user && current_user.administrator) %>
	<div class="panel panel-primary">
		<div class="panel-heading">Configurações</div>
		<div class="panel-body">
			<%= link_to "Utilizadores", users_url() %><br />
			<%= link_to "Serviços", ulsne_departments_url() %><br />
			<%= link_to "Unidades", ulsne_sites_url() %>
		</div>
	</div>
<% end %>