<% if (current_user && current_user.administrator) %>
	<div class="panel panel-primary">
		<div class="panel-heading">Configurações</div>
		<div class="panel-body">
			<p><%= link_to "Utilizadores", users_url() %></p>
			<p><%= link_to "Serviços", ulsne_departments_url() %></p>
			<p><%= link_to "Unidades", ulsne_sites_url() %></p>
		</div>
	</div>
<% end %>