<div class="panel panel-primary" style="<%= 'visibility: hidden;' unless ( current_user.administrator || current_user.transp_user.nivel_acesso == 2) %>">
	<div class="panel-heading">Filtros</div>
	<ul class="list-group">
		<!-- aprovacao state -->
		<li class="list-group-item">
			Estados
			<select id="aprovacao_selector" class="form-control">
				<option value="all">Todos</option>
				<option value="1">Aprovado</option>
				<option value="0">Pendente</option>
				<option value="2">Recusado</option>
			</select>
		</li>
	</ul>
</div>