<% if obj.errors.any? %>
    <div id="error_explanation">
        <div class="alert alert-danger">
            O formulário contém <%= pluralize(obj.errors.count, "erro") %>.
        </div>
        <ul>
            <% obj.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>