<div class="panel panel-primary">
	<div class="panel-heading">Inquérito de Satisfação</div>
	<ul class="list-group">
		<li class="list-group-item">
			<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> 
			<a href="<%= satisf_surv_surveys_path() %>">Inquéritos</a>
			
			<br />
			
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
			<a href="<%= new_satisf_surv_survey_path() %>">Novo inquérito</a>
		</li>
		
		<% if (current_user.administrator || current_user.satisf_surv_user.nivel_acesso == 2) %>		
			<li class="list-group-item">
				<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> 
				<%= link_to "Exportar", satisf_surv_stats_url() %>
				<br />

				<span class="glyphicon glyphicon-user" aria-hidden="true"></span> 
				<%= link_to "Utilizadores", satisf_surv_users_url() %>

			</li>
		<% end %>
	</ul>
</div>