<div class="col-md-12">
	<%= render 'shared/menu_patients' %>
</div>

<div class="col-md-10 col-md-offset-1">
	<h1>Dispositivos</h1>
	<table class="table">
		<thead>
			<tr>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @device_types.each do |d| %>
				<tr>
					<td><%= link_to d.nome_dispositivo, edit_device_type_path(d) %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<div class="panel panel-default">
		<div class="panel-heading">Novo dispositivo</div>
		<div class="panel-body">
			<%= render 'form' %>
		</div>
	</div>
</div>