<aside class="col-md-3">
	<%= render 'shared/menu_transp' %>
</aside>
<div class="col-md-9">
	<h1>Pedidos de transporte de material</h1>
	<div id="transp_materials_calendar"></div>
</div>

<%= render 'shared/modal' %>