<div class="col-md-12 panel panel-default">
	<%= render 'shared/menu_hig_maos' %>
</div>
<div class="col-md-10 col-md-offset-1">
	<div id="observations_calendar"></div>
</div>
<%= render 'shared/modal' %>