<div class="col-md-12 panel panel-default">
  <%= render 'shared/menu_patients' %>
</div>
<div class="col-md-10 col-md-offset-1">
	<h1>Editar <%= @user.user.nome_utilizador %></h1>
	<%= render 'form' %>
	<%= link_to "Eliminar", uci_user_path(@user),
				method: :delete,
				data: { confirm: 'Tem a certeza que deseja eliminar o utilizador?' },
				class: 'btn btn-danger' %>
</div>