<aside class="col-md-2">
	<%= render 'shared/hig_maos_menu' %>
</aside>
<div class="col-md-10">
	<h1>Editar categoria profissional</h1>
	<%= render 'form' %>
	<%= link_to "Cancelar", hig_maos_worker_categories_path(), class: 'btn btn-default' %>
</div>