<div class="col-md-12">
	<%= render 'shared/menu_patients' %>
</div>

<div class="col-md-10 col-md-offset-1">
	<h1>TISS 28 em <%=l Date.yesterday %></h1>
	<table class="table">
		<thead>
			<tr>
				<th>Doente</th>
				<th>Tiss</th>
			</tr>
		</thead>
		<tbody>
			<% @tiss.each do |t| %>
				<tr>
					<td><%= link_to t.patient.nome, patient_path(t.patient) %></td>
					<td><%= t.valor %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>