<%= form_for([:ppcira, @category]) do |f| %>

	<%= render 'shared/error_messages', obj: @category %>

	<div class="col-md-8">
		<%= f.text_field :categoria_profissional, class: 'form-control' %>
	</div>

	<div class="col-md-4">
		<%= f.submit "Submeter", class: 'btn btn-primary' %>
	</div>
	
<% end %>