<div class="col-md-12">
	<%= render 'shared/menu_hig_maos' %>
</div>
<div class="col-md-10 col-md-offset-1">

	<h1>Categorias profissionais</h1>
	
	<table class="table">
		<thead>
			<tr>
				<th>Categoria</th>
			</tr>
		</thead>
		<tbody>
			<% @categories.each do |cat| %>
				<tr>
					<td><%= link_to cat.categoria_profissional, edit_ppcira_hig_maos_worker_category_path(cat) %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
	
	<div class="panel panel-default">
		<div class="panel-heading">Nova categoria profissional</div>
		<div class="panel-body">
			<%= render 'form' %>
		</div>
	</div>

</div>