<div role="tabpanel" class="tab-pane fade in active" id="id">
	<dl class="dl-horizontal">
		<dt>Processo</dt>
		<dd><%= @patient.numero_processo_sonho %></dd>
		<dt>Data de nascimento</dt>
		<dd><%= @patient.data_nascimento %></dd>
		<dt>Idade</dt>
		<dd><%= distance_of_time_in_words_to_now(@patient.data_nascimento) %></dd>
		<dt>RNU</dt>
		<dd><%= @patient.rnu %></dd>
	</dl>
</div>