<div role="tabpanel" class="tab-pane fade" id="wounds">
	<table class="table">
		<thead>
			<tr>
				<!--<th>User</th>-->
				<th>Ferida</th>
				<th>Localização</th>
				<th>Data registo</th>
				<th>Origem</th>
				<th>Complicações</th>
				<th>Antibióticos</th>
				<th>Observações</th>
			</tr>
		</thead>
		<tbody>
			<%= render @patient.uci_wounds.order(:data_registo).reverse %>
		</tbody>
	</table>
</div>

<div class="modal fade" id="newWoundModal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Registar nova ferida</h4>
			</div>
			<div class="modal-body">
				<%= render 'uci/uci_wounds/new' %>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="editWoundModal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Editar ferida</h4>
			</div>
			<div class="modal-body" id="wound-modal-body">
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->