<aside class="col-md-3">
	<%= render 'shared/menu_escala_vmer' %>
</aside>
<div class="col-md-9">
	<div class="panel panel-default">
		<div class="panel-heading">Adicionar disponibilidade</div>
		<div class="panel-body">
			<%= render 'form' %>
		</div>
	</div>
	<h1>Disponibilidade</h1>
	<div id="schedules_calendar"></div>
</div>

<%= render 'shared/modal' %>