<aside class="col-md-3">
	<%= render 'shared/menu_escala_vmer' %>
</aside>
<div class="col-md-9">
	<div class="panel panel-default">
		<div class="panel-heading"><h1>Nova disponibilidade</h1></div>
		<div class="panel-body">
			<%= render 'form' %>
		</div>
	</div>
</div>