<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou alterar da tua senha. Podes proceder através da ligação seguinte.:</p>

<p><%= link_to 'Alterar senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se não foi você a solicitar a alteração, ignore este email.</p>
<p>A sua password não será alterada até aceder à ligação e proceder com a alteração.</p>
