<aside class="col-md-2">
	<%= render 'shared/satisf_surv_menu' %>
</aside>
<div class="col-md-9">
	<table class="table">
		<thead>
			<tr>
				<th>Utilizador</th>
				<th>Acesso</th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
				<tr>
					<td><%= link_to user.nome_utilizador, edit_satisf_surv_user_path(user) %></td>
					<td>
						<%= render 'shared/nivel_acesso', user: user %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<%= render 'new' unless @users_collection.empty? %>
</div>