<p><i class="fa fa-envelope"></i> <%= @user.email %></p>

<% @user.user_phone_numbers.each do |phone| %>
	<p><i class="fa fa-phone"></i> <%= phone.numero_contacto %></p>
<% end %>

<% @user.ulsne_departments.each do |dep| %>
	<p><i class="fa fa-th-list"></i> <%= dep.nome_servico %></p>
<% end %>

<p><i class="fa fa-building"></i> <%= @user.ulsne_site.nome_unidade %></p>