<div class="nested-fields">
	<div class="field">
		<div class="col-lg-6">
      <div class="input-group">
        <%= f.number_field :numero_contacto, class: 'form-control' %>
        <span class="input-group-btn">
          <%= link_to_remove_association "Remover", f, class: 'btn btn-danger' %>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->	
  </div>
</div>