$('#modalTitle').html("<%= @user.titulo %> <%= @user.nome_utilizador %>")
$('#modalBody').html('<%= j render 'show' %>')
<% if current_user %>
  $('#modalFooter').html('<%= link_to 'Editar', edit_contacts_user_path(@user), class: "btn btn-success" %><button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>')
<% end %>
$('#modal').modal()