<footer class="footer">
	<small>
		Portal e-ULSNE by <a href="mailto:miguel.veiga@ulsne.min-saude.pt">Miguel Sampaio da Veiga</a> 2015
	</small>
	<nav>
		<ul>
      <li>
        Versão <%= Git::REVISION %><%= "@#{Rails.env}" if Rails.env === 'development' %>
      </li>
		</ul>
	</nav>
</footer>