<footer class="footer">
	<small>
		Portal e-ULSNE by SDVi 2015
	</small>
	<nav>
		<ul>
			<li><a href="http://intranet.ulsne.min-saude.pt/" target="_blank">Intranet ULSNE</a></li>
			<li><a href="https://webmail-ulsne.min-saude.pt/owa" target="_blank">Webmail ULSNE</a></li>
			<li><%= link_to "Portal e-ULSNE", root_url() %></li>
		</ul>
	</nav>
</footer>