<li>
	<a href="<%= user_path(current_user) %>">
		<span class="glyphicon glyphicon-user"></span> <%= current_user.nome_utilizador %>
	</a>
</li>
<li>
	<a href="<%= logout_url() %>">
		<span class="glyphicon glyphicon-log-out"></span> Logout
	</a>
</li>