<li>
	<a href="<%= login_url() %>">
		<span class="glyphicon glyphicon-log-in"></span> Entrar
	</a>
</li>
<li>
	<a href="<%= signup_url() %>">
		<span class="glyphicon glyphicon-edit"></span> Registar
	</a>
</li>